[Desktop Entry]
Name=Desktop actions
Type=Service
MimeType=application/pdf;
Actions=splitPdf;prefixByDate;prefixByToday;

[Desktop Action splitPdf]
Name=Split pdf in one page per file
Icon=edit-entry
Exec=systemd-run --user /home/geoffroy/src/desktop-actions/target/debug/split-pdf -vvv %F

[Desktop Action prefixByDate]
Name=Prefix by date
Icon=edit-entry
Exec=systemd-run --user /home/geoffroy/src/desktop-actions/target/debug/prefix-by-date -vvv %F

[Desktop Action prefixByToday]
Name=Prefix by today's date
Icon=edit-entry
Exec=systemd-run --user /home/geoffroy/src/desktop-actions/target/debug/prefix-by-date --today -vvv %F
