[Desktop Entry]
Name=Desktop actions
Type=Service
MimeType=application/pdf;image/*;video/*;
Actions=prefixByDate;prefixByDateTime;prefixByToday;

[Desktop Action prefixByDate]
Name=Prefix by date
Icon=edit-entry
Exec=systemd-run --user INSTALL_DIR/prefix-by-date -i gui -vv %F

[Desktop Action prefixByDateTime]
Name=Prefix by date and time
Icon=edit-entry
Exec=systemd-run --user INSTALL_DIR/prefix-by-date -i gui --time -vv %F

[Desktop Action prefixByToday]
Name=Prefix by today's date
Icon=edit-entry
Exec=systemd-run --user INSTALL_DIR/prefix-by-date -i gui --today -vv %F
